html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
/* ===================Common============= */
.body .getImg .logo {
  height: 75px;
  width: 75px;
}

.btn,
#show-login {
  display: inline-block;
  min-width: 118px;
  padding: 0 15px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 24.5px;
  background: #171100;
}
a {
  text-decoration: none;
}
.main-contain {
  width: 1118px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

/* header */
.header {
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0;
}
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
/* labs html */
/* button Delete */

#delete {
  height: 44px;
  width: 75px;
  position: absolute;
  bottom: 100%;
  right: 60px;
  top: 0;
}

.nav.list {
  height: 50px;
  width: 350px;
  margin-right: 70px;
}
.nav.list ul {
  height: 30px;
  width: 70px;
}
/* .nav li.active a, */
.nav a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}
a.active {
  color: black;
  font-weight: bold;
}

.header .btn-sign-up,
.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  align-items: center;
  margin-left: 49px;
}

.nav.list ul {
  display: flex;
  justify-content: flex-end;
}
.list ul {
  width: 1130px;
}
/* table */
.table {
  font-size: 3vh;
  line-height: 50px;
  margin: 0 auto;
  min-width: 100px;
}
.table tr:first-of-type {
  background-color: #d8bfd8;
}
.td_1 {
  background-color: #e6e6fa;
}

.box {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: rgb(201, 197, 197);
  font-size: 1.6rem;
  padding: 25px 35px;
  line-height: 60px;
  margin: 0 auto;
}
input[type="text"],
input[type="number"] {
  width: 99%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #dedede;
  font-size: 1.6rem; /* Phóng to cỡ chữ trong input */
  padding: 8px;
  text-align: left;
}
input[type="date"],
input[type="radio"] {
  font-size: 2rem;
}
.row td {
  padding: 7px;
}
.table2 {
  width: 100%;
}
/* style button */
.button_input input {
  height: 50px;
  font-size: 1.6rem;
}
.button_input input {
  padding: 12px;
}
.nav_lab a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}
#studentTable {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}
/* Highlight row on hover */
#studentTable tbody tr:hover {
  background-color: #f0f0f0; /* Set the background color you prefer */
  cursor: pointer; /* Optional: changes the cursor to a pointer when hovering */
}
#studentTable tr {
  text-align: center;
}

/* Modal Styles */
.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* Set width of modal */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* To position the close button correctly */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin-top: 10px;
}

/*  Main Content CV ================About.html*/
/* Khung 1 */
.main {
  background-color: #fffcf4;
}
.content_part1 {
  display: flex;
  margin: auto;
  width: 850px;
  height: 1150px;
}
.part-1 {
  width: 425px;
  height: 1150px;
}
.part-1 .user {
  margin: 10px auto;
  width: 410px;
  height: 140px;
}
.avatar {
  border-radius: 50%;
}
.user {
  display: flex;
  width: 100px;
}
.fullName {
  margin: auto;
  text-align: center;
  width: 234px;
  height: 84px;
}
.fullName h3 {
  padding: 7px;
}
.part-1 li {
  margin: auto;
  width: 365px;
  height: 25px;
}

.industryKnow,
.language,
.social,
.hobbies {
  margin: 8px;
}
.industryKnow h1,
.Language h1,
.Social h1,
.Hobbies h1 {
  padding: 10px;
}
.industryKnow li {
  width: 350px;
  list-style-type: disc;
}
/*  set khoảng cách giữa chữ language vs phần tử dưới */
.language h1 {
  padding: 8px;
}
.social h1 {
  padding: 8px;
}
.hobbies h1 {
  padding: 8px;
}

.part-1 div {
  padding: 10px;
}
/* =============================== */
.enjoy ul {
  display: flex;
}
/* ==============Content Part 2 ================ */
/* Khung 2 */

.part-2 {
  width: 425px;
  height: 1150px;
  border-left: 1px solid;
}
.experience {
  margin: 10px auto;
  width: 400px;
  height: 340px;
}
.education {
  margin: 10px auto;
  height: 190px;
  width: 401px;
}
.mySkill {
  margin: 10px auto;
  height: 223px;
  width: 401px;
}
.otherSkill {
  margin: 10px auto;
  height: 350px;
  width: 401px;
  display: flex;
}
/* footer */
.footer {
  display: flex;
  height: 236px;
  background-color: black;
}
.line_footer {
  margin: 25px auto;
  width: 645px;
  height: 90px;
  color: white;
}
/* =======================main index ====================*/
.main-content {
  width: 100%;
  background: #fffcf4;
  padding: 56px;
}
.content_main_1 {
  display: flex;
  height: 750px;
  margin: auto;
  width: 1211px;
}
.discover {
  height: 687px;
  width: 600px;
}
.pararap {
  position: relative;
  height: 600px;
  width: 550px;
}
.pararap_content_1 {
  margin: 10px auto;
  height: 210px;
  width: 500px;
}
.pararap_content_2 {
  margin: 10px auto;
  height: 100px;
  width: 500px;
}
.pararap_content_1 h1 {
  font-size: 65px;
}
.pararap_content_2 p {
  font-size: 23px;
  font: italic;
  color: rgba(0, 0, 0, 0.6);
}
.pararap .button-pararap {
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 20px;
  background: #ffb900;
  border-radius: 50px;
}
.button-pararap a {
  color: white;
  font-size: 25px;
}
.pararap h3 {
  margin-top: 50px;
  width: 250px;
  margin-left: 20px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.pararap_content_3 {
  display: flex;
  height: 50px;
  width: 450px;
  margin: 10px 5px;
  align-items: center;
  justify-content: space-around;
  font-size: 35px;
}
.pararap_content_3 strong {
  font-weight: bold;
  font-size: 45px;
}
.pararap_content_3 span {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
}
/* ========================Main Content 2 =================Index.html */
.content_main_2 {
  display: flex;
  margin: 20px auto;
  margin-top: 150px;
  height: 800px;
  width: 1450px;
}
.learnAbout {
  margin-top: 50px;
  height: 700px;
  width: 600px;
}
.content_pararap_main_2 {
  margin: 70px auto;
  width: 700px;
  height: 650px;
}
.content_pararap_main_2 div:first-child {
  width: 650px;
  margin: 10px auto;
  height: 190px;
}
.content_pararap_main_2 div:nth-child(2) {
  margin: auto;
  height: 160px;
  width: 650px;
}
.content_pararap_main_2 div:nth-child(3) {
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  background: #ffb900;
  border-radius: 50px;
}
.content_pararap_main_2 h1 {
  font-size: 65px;
}
.content_pararap_main_2 p {
  padding: 20px;
  font-size: 23px;
  font: italic;
  color: rgba(0, 0, 0, 0.6);
}
.content_pararap_main_2 a {
  font-size: 25px;
  color: white;
}
/* =================================POP - UP LoGIn */
.screen {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 500px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transform: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    tranform 200ms ease-in-out 0ms;
}
.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transform: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    tranform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form .form-element {
  margin: 15px 0px;
}
.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}
.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
div .form {
  margin: auto;
}
.table_data {
  height: 125px;
  padding: 25px;
}
/*  chỉnh sửa table  */

.talbe_data_space .Search {
  width: 500px;
  margin-left: 20px;
  margin-top: 25px;
}
.talbe_data_space {
  position: relative;
  width: 82%;
  margin: auto;
}
#find {
  font-size: 1.6rem;
}
#studentTable .table2.row {
  background: gray;
  color: white;
  font-size: 1.7rem;
}
